// ============================
// SASS VARIABLES
// ============================

// ==============
// DIMENSIONS
// ==============
$box-border: .2em;
//
$break1-width: 58em;
$break2-width: 40em;

// ======
// COLORS
// ======
$bg-color: darkslategray;
$txt-color: white;

$link-new: lightgray;
$link-old: silver;

// =======
// TABLES
// =======

table {
  text-align: center;
  border-collapse: collapse;
  td {
    padding: 0em 2em;
    border: .125em $txt-color solid;
  }
}