/* ================================ */
/* GLOBAL STYLES
/* ================================ */
@media screen {

body {
  margin: 0 auto;
  width: 50%;
  font-size: 140%;
  text-align: center;

  background-color: $bg-color;
  color: $txt-color;
  font-family: "Bitter";
}

a {
  color: $link-new;
  &:visited {
    color: $link-old;
  }
}

/* ===========================
/* HEADER
/* ======================== */

h1 + h2 {
  margin-top: -.75em;
}

h1 + h3 {
  margin-top: -.75em;
}

/* ===========================
/* ARTICLES
/* ======================== */

article {
  text-align: left;
}

article + article {
  padding-top: 1em;
  border-top: $box-border solid $link-new;
}

p {
  text-align: justify;
}

/* ===========================
/* FOOTER
/* ======================== */

footer {
  font-style: italic;
}

/* ===========================
/* IMAGES AND OBJECTS
/* ===========================
/* http://unstoppablerobotninja.com/entry/fluid-images/ */
// /* needs width: 100% in IE stylesheet */
img,
object,
iframe {
  max-width: 100%;
}
img {
  margin: .5em .5em .5em 0;
  height: auto;
  border: $box-border solid black;
  @media screen and (max-width: $break2-width) {
    float: none;
  }
}

/* end @media only screen */
}

@media screen and (max-width: $break1-width) {
  body {
    width: 75%;
    font-size: 120%;
  }
}

@media screen and (max-width: $break2-width) {
  body {
    width: 95%;
    font-size: 100%;
  }
}